@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 400;
}

body {
    text-align: center;
    min-height: 100vh;
    background-color: #ded5e6;
}

header {
    margin-top: 2%;
    margin-bottom: 2%;
}

main {
    background-color: #6a319c;
    display: inline-block;
    padding: 1.2%;
    position: relative;
    width: 35%;
    height: 500px;
    border-radius: 10px;
    box-shadow: 1px 5px 5px #392052;
}

.image__logo {
    width: 16%;
}

.input__search {
    width: 70%;
    padding: 1.5%;
    margin: 3%;
    outline: none;
    border: 2px solid #b4acc5;
    border-radius: 5px;
    color: #837b9c;
    font-size: clamp(8px, 5vw, 1rem);
    box-shadow: 3px 4px 5px #392052;
}

.pokemon__image {
    width: 30%;
    position: absolute;
    left: 32%;
    top: 20%;
    transform: translate(-63%, 20%);
}

.pokemon__data {
    display: block;
    align-items: flex-start;
    position: absolute;
    top: 32%;
    left: 50%;
    color: #b4acc5;
    margin-right: 10%;
    font-size: clamp(8px, 2vw, 25px);
}

.pokemon__name {
    text-transform: capitalize;
    color: #eee6ee;
}

.pokemon__info {
    display: block;
    align-items: flex-start;
    position: absolute;
    top: 45%;
    left: 50.5%;
    margin-top: 3%;
    color: #eee6ee;
    font-size: clamp(12px, 1vw, 20px);
}

.pokemon__info2 {
    display: block;
    align-items: flex-start;
    position: absolute;
    top: 51%;
    left: 50.5%;
    margin-top: 3%;
    color: #eee6ee;
    font-size: clamp(12px, 1vw, 20px);
}

.pokemon__complement {
    position: absolute;
    top: 60.5%;
    left: 50.5%;
    color: #eee6ee;
    text-transform: capitalize;
    font-size: clamp(12px, 1vw, 20px);
}

.color {
    color: #b4acc5;
}